:root {
  .circle-image {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-right: 1rem;
  }

  .plantinfo {
    border: 2px solid black;
    text-align: right;
  }

  .plant-entry {
    list-style-type: none;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
  }

  .plant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .plant-list li {
    flex: 1 1 auto;
    display: flex;
    max-width: 500px;
  }


}

